<div class="row col-md-8 col-md-offset-2">
  <h4>Game B/W<%= @game.player1.email %>Vs <%= @game.player2.try(:email)%></h4>
  <h2>You are <%=@current_player.email%></h2>

<h1 id= "message"></h1>
<div class="panel panel-default">
  <% if @moves.any? %>
    <% @moves.each do |move| %>
      <div class="panel-body" id="moves">
        <%= render partial: 'moves/move', locals: {move: move}%>
      </div>
    <%end%>
  <%else%>
    <div class="panel-body hidden" id="moves">
    </div>
  <%end%>
</div>
  <div id="move_form">
    <%= render partial: 'moves/move_form', locals: {move: @move, game: @game}%>
  </div>
</div>
